# for macOS
.DS_Store

hardware/*/*-backups
hardware/*/*.bak
hardware/*/fp-info-cache
hardware/*/*.lck

software/NERD_BOY/_build/*
!software/NERD_BOY/_build/src
software/NERD_BOY/_build/src/*
!nerd_boy.uf2
